@font-face{
    font-family:'exo-black';
    src: url(../fonts/exo-black.otf);
}
#emerald{
    font-family:'exo-black';
    letter-spacing: 2px;  
}
.share-buttons img{
    width: 30%;
    margin-right: 15%;
    border: 0;
    box-shadow: 0;
    padding-top: 3px;
}
#title{
	font-family: didot;
    padding-top: 5%;
    font-size: 110px;
}
@media only screen and (max-width: 320px){
}
#lede{
	font-size: 2em;
	font-family: arial narrow;
    padding-left: 6%;
}
#pic{
    float: right;
}
.text{
	font-size: 18px;
}
.kit{
    overflow: hidden;
    background-size: cover;
}
.tool{
    z-index: 1000;
    float: left;
    padding-left: 1%;
    height: 2.5%;
    width: 2.5%;
}
#wine{
    margin-left: 10%;
    margin-top: 20%;
}
#choc{
    margin-left: 33%;
    margin-top: 25%; 
}
#box{
    margin-left: 32%;
    margin-top: 8%;
}
#guid{
    margin-left: 10%;
    margin-top: 38%;
}
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}
[data-tooltip]:before, [data-tooltip]:after {
    visibility: hidden;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}
/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 110%;
    left: 100%;
    margin-bottom: 5px;
    margin-left: -130%;
    padding: 0.5em;
    width: 200%;
    border-radius: 1px;
    background-color: rgb(8,8,8);
    color: white;
    content: attr(data-tooltip);
    font-family: helvetica;
    font-size: 16px;
    line-height: 1.2;
}
[data-tooltip]:after {
    position: absolute;
    bottom: 110%;
    left: 50%;
    margin-left: 8%;
    width: 0%;
    border-top: 7px solid rgb(8,8,8);
    border-right: 5px solid transparent;
    border-left: 2px solid transparent;
    content:" ";
    font-size: 0;
    line-height: 0;
}
/* Show tooltip content on hover */
[data-tooltip]:hover:before, [data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
