@font-face {
    font-family:'exo-black';
    src: url(../fonts/exo-black.otf);
}
#emerald{
    font-family:'exo-black';
    letter-spacing: 2px;  
}
.share-buttons img {
    width: 30%;
    margin-right: 15%;
    border: 0;
    box-shadow: 0;
    padding-top: 3px;
}
#title{
	font-family: didot;
	font-size: 90px;
    padding-top: 5%;
}
#lede{
	font-size: 24px;
	font-family: arial narrow;
}
.text{
	font-size: 18px;
}
.tool{
    z-index: 1000;
    float: left;
    padding-left: 1%;
    height: 2.5%;
    width: 2.5%;
}
#wine{
    margin-left: 17%;
    margin-top: 12%;
}
#choc{
    margin-left: 25%;
    margin-top: 10%; 
}
#box{
    margin-left: 35%;
    margin-top: 15%;
}
#guid{
    margin-left: 17%;
    margin-top: 18%;
}
#knif{
    margin-left: 17%;
    margin-top: 10%;
}
#note{
    margin-left: 5%;
    margin-top: 20%;  
}
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}
[data-tooltip]:before, [data-tooltip]:after {
    visibility: hidden;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}
/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 110%;
    left: 100%;
    margin-bottom: 5px;
    margin-left: -123%;
    padding: 7px;
    width: 200%;
    border-radius: 3px;
    background-color: rgb(8,8,8);
    color: white;
    content: attr(data-tooltip);
    text-align: center;
    font-family: helvetica;
    font-size: 16px;
    line-height: 1.2;
}
[data-tooltip]:after {
    position: absolute;
    bottom: 110%;
    left: 50%;
    margin-left: 5%;
    width: 0%;
    border-top: 7px solid rgb(8,8,8);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content:" ";
    font-size: 0;
    line-height: 0;
}
/* Show tooltip content on hover */
[data-tooltip]:hover:before, [data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
